.col-md-7.col-xs-7
  .card.card-primary.card-inverse
    .card-header
      %img.card-img-top(src="/attachments/#{locals[:name]}.jpg" alt="Game image cap")
    .card-block
      %h1.cardtitle
        = I18n.translate("#{locals[:name]}.information")
      %h2 
        = I18n.translate("games.htp")
      %h3
        = I18n.translate("#{locals[:name]}.howtoplay")
      