.panel.panel-bold.panel-info
  .panel-body.p-b-lg
    %h3.m-y-0
      = I18n.translate('donate.recent')
    %hr
    %ul
      - wb=EstormLottoTools::WebJsonData.new
      - list=wb.get_donators_list('estorm-sms','stxpgBdjcrWt9iAZUAyZ')
      %table(class="table table-hover table-condensed")
        %tr
          %th 
            = I18n.translate('donate.donor')
          %th 
            = I18n.translate('donate.count')
        -list.each do  |li|
          %tr
            %td= li[0]
            %td= li[1]