Categories: contact
Title: About Us/Jobs
Template: home
Summary: Informaton about jobs and contact details

.container
  .row
    .col-md-9
      %h1
        = I18n.translate('contact.title')
      %p
        = I18n.translate('contact.desc')
  .row
    .col-md-9
      %h3
        = I18n.translate('contact.philisophy')
      %p
        = I18n.translate('contact.jobdetails')
  .row
    = haml :csr_card, :layout=> false
  .row
    = haml :contact_card, :layout=> false
    %h1 &nbsp;
    = haml :contact_map, :layout=> false

  