Categories: contact
Title: About Us/Jobs
Template: home
Summary: Informaton about jobs and the company

.container
  .row
    .col-md-9
      %h1
        = I18n.translate('contact.title')
      %p
        We are  small Timorese owned company with business partners from Singapore and Guam.  Our objectives are to build capacity within the Timor nation and have plans for hotels and other services within Timor.  We employ close to 20 staff and are actively recruiting.  Our total investment in Timor is in excess of 1M USD in capital and inventory.
      %p 
        Our two partner's websites are at 
        %a(href= "http://www.sea-ent.com")
          Sea Entertainment Limited
        and
        %a(href="http://www.midpacguam.com")
          MidPac Distribution
      %h2= I18n.translate('contact.address')
      %address
        = I18n.translate('contact.office')
        %a(href="mailto://info@seadutyfree.com")
          = I18n.translate('contact.email')
      %h2= I18n.translate('contact.jobs')
      %p In general we hire locally.  Currently our employed staff are 100% Timorese. This may change at experienced business managers are currently hard to find in Timor.  We are proud of our efforts to build capacity in our Staff.
      %h3  Philosophy
      %p We try to hire internally and pay slightly above market rates.  We expect integrity from our employees.
      %h3  Hiring
      %p We are activley hiring for all locations (Salele/Batugade/Oecussi and Dili).  Please send your resume via email to the above email address.

  