Title: Prize Winners List
Template: home
Link Text: Athletes


.container
  .row
    .col-offset-1.col-md-8.col-xs-8
      %section.intro
        %heading
        %h1
          = I18n.translate('athletes.heading')  
        %p
          = I18n.translate('athletes.para1')
          - gallerylist=Dir.entries('./content/attachments/athletes')
          = haml :athletes_gallery, :layout => false, :locals => {:gallery => gallerylist }
          /= I18n.translate('winners.para1')
          /= haml :winners_carousel, :layout => false
        %p= I18n.translate('athletes.unclaimed')
    .col-md-4
      = haml :commands_menu, :layout => false
  .row
    %br
      
  .row
    .col-offset-1.col-md-8
      %p
        = I18n.translate('athletes.para2')
        %a(href="prizes") 
          prize