Title: Multimedia
Template: home
Link text: Multimedia


.container
  .row
    .col-md-offset-1.col-md-7
      %heading
      %h1
        = I18n.translate('content.title')
      %p= I18n.translate('content.para1')
      %p= I18n.translate('content.para2')
      

  .row
    .col-md-7
      %h4 Wushu:  Juwita Niza Wasni
      %iframe(width="420" height="315"  src="http://www.youtube.com/embed/ImMhefROnQU?autoplay=1")
    .col-md-5
      = haml :donate_menu, :layout => false
      
  .row
    .col-md-7
      %h3
        %p= I18n.translate('content.market')
  .row
    .col-sm-4
      %img.img-responsive(src="/attachments/marketing/launch.jpg" data-action="zoom"  title="Launch poster" alt="launch poster")
    .col-sm-4
      %img.img-responsive(src="/attachments/marketing/education.jpg" data-action="zoom"  title="Launch poster 2" alt="launch poster 2")
    %hr
      
        

