Title: Donors
Template: home
Link text: Donors


.container
  .row
    .col-md-offset-1.col-md-6
      %heading
      %h1
        = I18n.translate('donors.title')
      %p= I18n.translate('donors.thanks')
      %p= I18n.translate('donors.para1')  
      = haml :recent_donors, :layout => false    
    .col-md-5
      = haml :donate_menu, :layout => false

