Template: home
Link text: Home

.container
  .row
    .col-md-offset-1.col-md-9
      .well.well-lg
        - wb2=EstormLottoTools::WebJsonData.new
        - count2=wb2.get_donations_count('estorm-sms','stxpgBdjcrWt9iAZUAyZ')
        %h1.txt-xl
          = I18n.translate('donate.todate')
          = count2["count"] if !count2.nil?
  .row
    .col-md-offset-1.col-md-9
      .well.well-lg.well-img
        %h1.txt-xl
          = I18n.translate('index.ourathletes')
        %h1.txt-xl
          = I18n.translate('index.theirdream')
  .row
    .col-md-offset-2.col-md-6
      %h1
        = I18n.translate('index.heading') 
      %p.lead= I18n.translate('index.para1')
      %p.lead= I18n.translate('index.para2')
      %p.lead= I18n.translate('index.para3')
    .col-md-3
      = haml :donate_menu, :layout => false
      = haml :recent_donors, :layout => false
  .row
    .col-md-offset-1.col-md-8
      %a(href="/athletes") 
        %p= I18n.translate('athletes.title') 
        - gallerylist2=Dir.entries('./content/attachments/athletes').sample(2)
        = haml :athletes_gallery, :layout => false, :locals => {:gallery => gallerylist2 }
        - gallerylist=Dir.entries('./content/attachments/athletes').sample(2)
        = haml :athletes_gallery, :layout => false, :locals => {:gallery => gallerylist }
  .row
    .col-md-offset-1.col-md-8
      %a(href="/sponsors") 
        %p= I18n.translate('sponsors.title') 

    
        /  
        / =haml :winners_carousel, :layout => false
        


