Template: home
Link text: Home

.container.fluid
  .row
    .col-md-offset-1.col-md-9
      %div.block.text-center
        %h1.block-title
          = I18n.translate('index.ts')
        %h3
          = I18n.translate('index.comingsoon')
        %h4
          = I18n.translate('index.down')
        .callout
          .callout-content
            %img.img-responsive( src="/attachments/tslogo.jpg" width=200 height=120 alt='TS scratch logo')
            %strong
              See our winners
          .callout-secondary
            %h2
              %a(href="https://www.timor-scratch.com/" class="btn btn-sm btn-info")
                = I18n.translate('index.online')
  .row
    .col-md-offset-1.col-md-9
      - ['lafaek','dream','soccer'].each do |game|
        = haml :game_card, :layout=> false, :locals => {:name => game}
  .row
    .col-md-offset-1.col-md-9
      = haml :t_and_c_card, :layout=> false, :locals => {}
  

        


