Title: Prize Winners List
Template: home
Link Text: Stores


.container
  .row
    .col-offset-1.col-md-8.col-xs-8
      %section.intro
        %heading
        %h1
          = I18n.translate('stores.title')  
        %p
          = I18n.translate('stores.map')
        %iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d63060.191969253145!2d124.9448168!3d-8.9479881!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1460020797216" width="420" height="300" frameborder="0" style="border:0" allowfullscreen)
        %h2
          = I18n.translate('stores.batugade')
        %h2
          = I18n.translate('stores.salele')
        %p
          = I18n.translate('index.comingsoon')
        %h2
          = I18n.translate('stores.oecussi')
        %p
          = I18n.translate('index.comingsoon')
   