Title: SeaDuty Free Store Locations
Template: home
Link Text: Stores


.container
  .row
    .col-offset-1.col-md-8.col-xs-8
      %section.intro
        %heading
        %h1
          = I18n.translate('stores.title')  
        %h3
          = I18n.translate('stores.batugade')
        %iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d63060.191969253145!2d124.9448168!3d-8.9479881!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1460020797216" width="420" height="300" frameborder="0" style="border:0" allowfullscreen)
        /%h3
        /  = I18n.translate('stores.airport')
        /%p
        /  = I18n.translate('index.open2017')
        %h3
          = I18n.translate('stores.salele')
        %p
          = I18n.translate('index.openjune')
        %iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3935.6622974099064!2d125.08502994985325!3d-9.450981701584139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zOcKwMjcnMDMuNSJTIDEyNcKwMDUnMTQuMCJF!5e0!3m2!1sen!2s!4v1465618472651" width="400" height="300" frameborder="0" style="border:0" allowfullscreen)
        %h3
          = I18n.translate('stores.oecussi')
        %p
          = I18n.translate('index.comingsoon')
   